[project]
	description = ReVolt ROM Vendor
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/johnhany97
[access "refs/for/refs/*"]
	read = group user/johnhany97
	push = group user/johnhany97
	label-Code-Review = -2..+2 group user/johnhany97
	label-Verified = -1..+1 group user/johnhany97
	rebase = group user/johnhany97
	removeReviewer = group user/johnhany97
	submit = group user/johnhany97
[access "refs/heads/*"]
	read = group user/johnhany97
	create = group user/johnhany97
	push = +force group user/johnhany97
	pushMerge = group user/johnhany97
[access "refs/tags/*"]
	push = +force group user/johnhany97
	pushTag = group user/johnhany97
	pushSignedTag = group user/johnhany97
